<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div class="vh-100">

    <nav th:replace="mesFragments :: fragNav"></nav>

    <main class="container">

        <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

            <form novalidate class="validation" th:action="@{/admin/accessoire}" th:object="${nouvelleAccessoire}"
                  method="post">

                <h2 class="mb-4">Ajouter un accessoire</h2>

                <!-- Input pour le nom de l'accessoire -->
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom de l'accessoire</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"
                           th:field="${nouvelleAccessoire.nom}">
                </div>

                <!-- Input pour la description de l'accessoire -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="description"
                           name="description" th:field="${nouvelleAccessoire.description}">
                </div>

                <div class="mb-3">
                    <label for="cheminImage" class="form-label">Chemin de l'Image</label>
                    <input type="text" class="form-control" id="cheminImage" name="nom"
                           th:field="${nouvelleAccessoire.cheminImage}">
                </div>

                <div class="mb-3">
                    <label for="qualite" class="form-label">Qualité</label>
                    <select class="form-select" id="qualite" th:field="${nouvelleAccessoire.qualite.id}">
                        <option th:each="uneQualite : ${qualites}" th:value="${uneQualite.id}" th:text="${uneQualite.nom}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="typeAccessoire" class="form-label">Type Accessoire</label>
                    <select class="form-select" id="typeAccessoire" th:field="${nouvelleAccessoire.typeAccessoire.id}">
                        <option th:each="unAccessoire : ${typeAccessoire}" th:value="${unAccessoire.id}" th:text="${unAccessoire.nom}"></option>
                    </select>


                    <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary">Ajouter</button>

            </form>

        </div>

    </main>

</div>

<footer th:replace="mesFragments :: fragFooter"></footer>

<script src="/js/validation.js"></script>

</body>

</html>