<!DOCTYPE html>
<html lang="en">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div class="vh-100">

    <nav th:replace="mesFragments :: fragNav"></nav>

    <main class="container">

        <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

            <form novalidate class="validation" th:action="@{/admin/accessoire/update}" th:object="${accessoire}"
                  method="post">

                <h2 class="mb-4">Modification d'une Accessoire</h2>

                <!-- Input pour l'id de l'accessoire -->
                <input readonly required type="hidden" name="id" th:field="${accessoire.id}">

                <!-- Input pour le nom de l'accessoire -->
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom de l'Acccessoire</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"
                           th:field="${accessoire.nom}">
                </div>

                <!-- Input pour la description de l'accessoire -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description de l'Accessoire</label>
                    <input required min="3" max="255" type="text" class="form-control" id="description"
                           name="description" th:field="${accessoire.description}">
                </div>

                <div class="mb-3">
                    <label for="qualite" class="form-label">Qualité</label>
                    <select class="form-select" id="qualite" th:field="${accessoire.qualite.id}">
                        <option th:selected="${uneQualite.id == accessoire.qualite.id}" th:each="uneQualite : ${qualites}" th:value="${uneQualite.id}" th:text="${uneQualite.nom}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="typeAccessoire" class="form-label">Type Accessoire</label>
                    <select class="form-select" id="typeAccessoire" th:field="${accessoire.typeAccessoire.id}">
                        <option th:selected="${unTypeAccessoire.id == accessoire.typeAccessoire.id}" th:each="unTypeAccessoire : ${typeAccessoire}" th:value="${unTypeAccessoire.id}" th:text="${unTypeAccessoire.nom}"></option>
                    </select>
                </div>

                <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary">Modifier</button>

            </form>

        </div>

    </main>

</div>

<footer th:replace="mesFragments :: fragFooter"></footer>

<script src="/js/validation.js"></script>

</body>

</html>

