<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Show Accessoire</title>
</head>

<body>

<div class="vh-100">

    <nav th:replace="mesFragments :: fragNav"></nav>

    <main class="container">

        <h1 th:text="'Accessoire '+${accessoire.nom}"></h1>

        <ul>
            <li th:text="'Nom : '+ ${accessoire.nom}"></li>
            <li th:text="'Description : '+${accessoire.description}"></li>
            <li th:text="'Chemin Image : '+${accessoire.cheminImage}"></li>
            <li th:text="'Qualité : '+${accessoire.qualite.nom}"></li>
            <li th:text="'Type Accessoire : '+${accessoire.typeAccessoire.nom}"></li>
        </ul>

    </main>

</div>

<footer th:replace="mesFragments :: fragFooter"></footer>

<script src="/js/validation.js"></script>

</body>

</html>