<!DOCTYPE html>
<html lang="en">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div class="vh-100">

    <nav th:replace="mesFragments :: fragNav"></nav>

    <main class="container">

        <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

            <form novalidate class="validation" th:action="@{/admin/typeArmure/update}" th:object="${typeArmure}"
                  method="post">

                <h2 class="mb-4">Modification d'un Type d'Armure</h2>

                <!-- Input pour l'id de type d'armure -->
                <input readonly required type="hidden" name="id" th:field="${typArmure.id}">

                <!-- Input pour le nom du type d'armure -->
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom du Type d'Armure</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"
                           th:field="${typeArmure.nom}">
                </div>

                <!-- Input pour le bonus du type d'armure -->
                <div class="mb-3">
                    <label for="bonusType" class="form-label">Bonus du Type d'Armure</label>
                    <input required min="0" max="99" type="number" class="form-control" id="bonusType"
                           name="bonusType" th:field="${typeArmure.bonusType}">
                </div>

                <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary">Modifier</button>

            </form>

        </div>

    </main>

</div>

<footer th:replace="mesFragments :: fragFooter"></footer>

<script src="/js/validation.js"></script>

</body>

</html>


