<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Create Type Accessoire</title>
</head>

<body>

<div class="vh-100">

    <nav th:replace="mesFragments :: fragNav"></nav>

    <main class="container">

        <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

            <form th:action="@{/admin/type-accessoire}" th:object="${nouveauTypeAccessoire}"
                  method="post">
                <h2 class="mb-4">Ajouter un Type d'Accessoire</h2>

                <!-- Input pour le nom de l'accessoire -->
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom du Type d'Accessoire</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"
                           th:field="${nouveauTypeAccessoire.nom}">
                </div>

                <!-- Liste déroulante pour le bonus type accessoire -->
                <div class="mb-3">
                    <label for="bonusType" class="form-label">Bonus Type</label>
                    <select class="form-select" id="bonusType" name="bonusType"
                            th:field="${nouveauTypeAccessoire.bonusType}">
                        <option value="Attaque">Attaque</option>
                        <option value="Défense">Défense</option>
                        <option value="Endurance">Endurance</option>
                        <option value="Vitesse">Vitesse</option>
                    </select>
                </div>

                <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary">Ajouter</button>

            </form>

    </main>

</div>

<footer th:replace="mesFragments :: fragFooter"></footer>

<script src="/js/validation.js"></script>

</body>

</html>