<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Create Armure</title>
</head>

<body>

<div class="vh-100">

    <nav th:replace="mesFragments :: fragNav"></nav>

    <main class="container">

        <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

            <form novalidate class="validation" th:action="@{/admin/armure}" th:object="${nouvelleArmure}"
                  method="post">

                <h2 class="mb-4">Ajouter une Armure</h2>

                <!-- Input pour le nom de l'armure -->
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom de l'Armure</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"
                           th:field="${nouvelleArmure.nom}">
                </div>

                <!-- Input pour la description de l'armure -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description de l'Armure</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="description"
                           name="description" th:field="${nouvelleArmure.description}">
                </div>

                <!-- Input pour le chemin d'image de l'armure -->
                <div class="mb-3">
                    <label for="cheminImage" class="form-label">Chemin Image</label>
                    <input type="text" class="form-control" id="cheminImage" name="nom"
                           th:field="${nouvelleArmure.cheminImage}">
                </div>

                <!-- Liste déroulante qualité -->
                <div class="mb-3">
                    <label for="qualite" class="form-label">Qualité</label>
                    <select class="form-select" id="qualite" th:field="${nouvelleArmure.qualite.id}">
                        <option th:each="uneQualite : ${qualites}" th:value="${uneQualite.id}"
                                th:text="${uneQualite.nom}"></option>
                    </select>
                </div>

                <!-- Liste déroulante type d'armure -->
                <div class="mb-3">
                    <label for="typeArmure" class="form-label">Type Armure</label>
                    <select class="form-select" id="typeArmure" th:field="${nouvelleArmure.typeArmure.id}">
                        <option th:each="unTypeArmure : ${typeArmure}" th:value="${unTypeArmure.id}"
                                th:text="${unTypeArmure.nom}"></option>
                    </select>
                </div>

                <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary">Ajouter</button>

            </form>

        </div>

    </main>

</div>

<footer th:replace="mesFragments :: fragFooter"></footer>

<script src="/js/validation.js"></script>

</body>

</html>