<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div class="vh-100">

    <nav th:replace="mesFragments :: fragNav"></nav>

    <main class="container">

        <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

            <form novalidate class="validation" th:action="@{'/admin/arme'}"  th:object="${nouvelleArme}"
                  method="post">

                <h2 class="mb-4">Ajouter une Arme</h2>


                <div class="mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"
                           th:field="${nouvelleArme.nom}">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="description" name="nom"
                           th:field="${nouvelleArme.description}">
                </div>

                <div class="mb-3">
                    <label for="cheminImage" class="form-label">chemin d'image</label>
                    <input type="text" class="form-control" id="cheminImage" name="nom"
                           th:field="${nouvelleArme.cheminImage}">
                </div>

<div class="mb-3">
    <label for="qualite" class="form-label">Qualité</label>
    <select class="form-select" id="qualite" th:field="${nouvelleArme.qualite.id}">
        <option th:each="uneQualite : ${qualites}" th:value="${uneQualite.id}" th:text="${uneQualite.nom}"></option>
    </select>

</div>
                <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary">Ajouter</button>

            </form>

        </div>

    </main>

</div>

<footer th:replace="mesFragments :: fragFooter"></footer>

<script src="/js/validation.js"></script>

</body>

</html>