<!DOCTYPE html>
<html lang="en">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Edit Arme</title>
</head>

<body>

<div class="vh-100">

    <nav th:replace="mesFragments :: fragNav"></nav>

    <main class="container">

        <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

            <form novalidate class="validation" th:action="@{/admin/arme/update}" th:object="${arme}"
                  method="post">

                <h2 class="mb-4">Modification d'une Arme</h2>

                <!-- Input pour l'id de l'arme -->
                <input readonly required type="hidden" name="id" th:field="${arme.id}">

                <!-- Input pour le nom de l'arme -->
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom de l'Arme</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"
                           th:field="${arme.nom}">
                </div>

                <!-- Input pour la description de l'arme -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description de l'Arme</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="description" name="description"
                           th:field="${arme.description}">
                </div>

                <!-- Input pour le chemin d'image de l'arme -->
                <div class="mb-3">
                    <label for="cheminImage" class="form-label">Chemin Image</label>
                    <input type="text" class="form-control" id="cheminImage" name="cheminImage"
                           th:field="${arme.cheminImage}">
                </div>

                <!-- Liste déroulante qualité -->
                <div class="mb-3">
                <label for="qualite" class="form-label">Qualité</label>
                <select class="form-select" id="qualite" th:field="${arme.qualite.id}">
                    <option th:selected="${uneQualite.id == arme.qualite.id}" th:each="uneQualite : ${qualites}" th:value="${uneQualite.id}" th:text="${uneQualite.nom}"></option>
                </select>
                </div>

                <!-- Liste déroulante type d'arme -->
                <div class="mb-3">
                <label for="type-arme" class="form-label">Type d'Arme</label>
                <select class="form-select" id="type-arme" th:field="${arme.typeArme.id}">
                    <option th:selected="${uneTypeArme.id == arme.typeArme.id}" th:each="uneTypeArme : ${typeArme}" th:value="${uneTypeArme.id}" th:text="${uneTypeArme.nom}"></option>
                </select>
                </div>

                <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary">Modifier</button>

            </form>

        </div>

    </main>

</div>

<footer th:replace="mesFragments :: fragFooter"></footer>

<script src="/js/validation.js"></script>

</body>

</html>