<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Armes</title>
</head>

<body>

<div class="vh-100">

    <nav th:replace="mesFragments :: fragNav"></nav>

    <div th:replace="mesFragments :: fragFlashSuccess"></div>

    <main class="container">

        <h1>Gestion des Armes</h1>

        <div>
            <a th:href="@{'/admin/arme/create'}" class="btn btn-success">
                Ajouter une Arme
            </a>
        </div>

        <!-- Gestion du cas où aucune armes n'est trouvée -->
        <div th:if="${armes.content.size()==0}">
            <p>Aucune atrmes trouvée.</p>
        </div>

        <!-- Affichage des armes -->
        <div class="row my-2">
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <!-- Liens de pagination -->
                    <li class="page-item" th:if="${armes.hasPrevious()}">
                        <a class="page-link"
                           th:href="@{${'/admin/arme'}(page=0, size=${armes.size}, sort=${armes.sort})}">Première</a>
                    </li>
                    <li class="page-item" th:if="${armes.hasPrevious()}">
                        <a class="page-link"
                           th:href="@{${'/admin/arme'}(page=${armes.number - 1}, size=${armes.size}, sort=${armes.sort})}">Précédente</a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(0, armes.totalPages - 1)}"
                        th:class="${armes.number == page} ? 'active' : ''">
                        <a class="page-link"
                           th:href="@{${'/admin/arme'}(page=${page}, size=${armes.size}, sort=${armes.sort})}"
                           th:text="${page + 1}">1</a>
                    </li>
                    <li class="page-item" th:if="${armes.hasNext()}">
                        <a class="page-link"
                           th:href="@{${'/admin/arme'}(page=${armes.number + 1}, size=${armes.size}, sort=${armes.sort})}">Suivante</a>
                    </li>
                    <li class="page-item" th:if="${armes.hasNext()}">
                        <a class="page-link"
                           th:href="@{${'/admin/arme'}(page=${armes.totalPages - 1}, size=${armes.size}, sort=${armes.sort})}">Dernière</a>
                    </li>
                    <!-- ... -->
                </ul>
            </nav>
        </div>

        <table class="table table-striped">

            <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Chemin Image</th>
                <th>Qualité</th>
                <th>Type Arme</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="uneArme : ${armes}">
                <td th:text="${uneArme.nom}"></td>
                <td th:text="${uneArme.description}"></td>
                <td th:text="${uneArme.cheminImage}"></td>
                <td th:text="${uneArme.qualite.nom}"></td>
                <td th:text="${uneArme.typeArme.nom}"></td>

                <td class="d-flex">
                    <a th:href="@{'/admin/arme/'+${uneArme.id}+'/edit'}" class="btn btn-warning">
                        Modifier
                    </a>
                    <a th:href="@{'/admin/arme/'+${uneArme.id}}" class="btn btn-primary">
                        Consulter
                    </a>
                    <div>
                        <form th:action="@{'/admin/arme/delete'}" method="post">
                            <input type="hidden" name="id" th:value="${uneArme.id}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>

    </main>

</div>

<footer th:replace="mesFragments :: fragFooter"></footer>

<script src="/js/validation.js"></script>

</body>

</html>